## PYTHON'DA VERİ BİLİMİ TEMELLERİ
<img src="https://github.com/nevcihan/COE_Python/blob/main/pict1.png?raw=1" width="400"/>

### Python Giriş

Nesne Yönelimli Programlama, gerçek dünyadaki nesneleri ve bunların etkileşimlerini modellemek için kullanılan bir programlama yaklaşımıdır.  
Object (Nesne), bu yapının temel birimidir ve bir sınıfın (class) örneği olarak oluşturulur.

In [ ]:
print("Merhaba Veri Bilimi!")

In [ ]:
#bu bana özel bir kod notudur

### Veri Tipleri

Pythonda temel veri tipleri:

• int: Tam sayılar  
• float: Ondalıklı sayılar  
• str: Metin  
• list: Liste  
• tuple: Demet  
• dict: Sözlük  
• set: Küme  

Python, veri işleme ve analizinde yaygın olarak kullanılan bir programlama dilidir. Python’da temel veri tipleri arasında tam sayılar (int), ondalıklı sayılar (float), metinler (str), listeler (list), demetler (tuple), sözlükler (dict) ve kümeler (set) bulunur. Bu veri tipleri, farklı veri türlerini saklamak ve işlemek için özelleştirilmiştir. Ayrıca, Python’un geniş kütüphane desteği (örneğin, NumPy, Pandas) sayesinde büyük veri kümeleri üzerinde etkili analizler yapılabilir.

#### 1-integers and floats

-integer: tamsayı  
-float: ondalıklı sayı

In [ ]:
2

In [ ]:
2.3

In [ ]:
2 + 2

In [ ]:
2.3 + 2

In [ ]:
2.0

In [ ]:
#çarpma işlemi
4 * 10

In [ ]:
#bölme
4 / 2

In [ ]:
# kuvvet alma
2 **3

In [ ]:
#bölümünden kalan  %
7 % 2

In [ ]:
#işlem önceliği
(4+10) * 3

#### 2-strings

karakterler " " içine alınır.

In [ ]:
"veri bilimi"

In [ ]:
"hello world"

In [ ]:
"veri bilimi"    "python"

In [ ]:
#birleştirme
"veri " + "işleme"+ "*"+ "aracı mıdır?"

In [ ]:
"veri","ve", "python"

In [ ]:
# toplama birleştirir
"veri " + "*" * 3

In [ ]:
#virgül yanyana yazar.
print("veri " , "*" * 3)

In [ ]:
" veri " "bilimi" * 2

In [ ]:
'veri'

In [ ]:
"2" * 3

In [ ]:
type("2")

type() fonksiyonu ile değişkenlerin tipine ulaşılır.

In [ ]:
type(3)

In [ ]:
type(2.3)

In [ ]:
# integerı stringe dönüştürmek için str() fonksiyonu kullanılır.
str(2)

In [ ]:
str(2) * 3

In [ ]:
# floatı integera çevirmeye yarar.
int(2.8)

In [ ]:
# karakteri integera çevirmeye yarar.
int("2")

In [ ]:
#neden hata aldı?
int("mehmet")

In [ ]:
type('mehmet')

#### Değişken Oluşturma

##### 1-Sayısal Değişkenlerle İşlemler

In [ ]:
#değişkenin sondaki değerini hatırlar.
kısakenar= kk = 3
uzunkenar= 4

In [ ]:
kk

In [ ]:
kısakenar

In [ ]:
kısa_kenar= 5
uzun_kenar= 4

In [ ]:
kısa_kenar

In [ ]:
type(kısa_kenar)

In [ ]:
kısa_kenar * uzun_kenar #kısa kenar=5 uzun kenar=4

In [ ]:
Alan= kısa_kenar * uzun_kenar

In [ ]:
Alan

In [ ]:
print(Alan)

In [ ]:
yarıçapı= 2
pi= 3.14

In [ ]:
Alan = pi * (yarıçapı **2)
Alan

In [ ]:
# float tipini integera dönüştürdük
b = int(Alan)
b

In [ ]:
int(Alan) * 2

In [ ]:
str(Alan) * 2

In [ ]:
Alan

##### 2-Karakter Değişkenlerle Yapılan İşlemler

In [ ]:
metin= "Merhaba, Python!"

In [ ]:
metin

In [ ]:
#karakter uzunluğu - sayısı (çok kullanılan bir fonksiyon)
len(metin)

In [ ]:
#büyük harf
metin.upper()

In [ ]:
print("Metnin uzunluğu:", le(metinn))

In [ ]:
buyuk = metin.upper()
buyuk

In [ ]:
buyuk

In [ ]:
print("Büyük Harf:", metin.upper())

In [ ]:
# küçük harf haline getirir.
buyuk.lower()

In [ ]:
a="Merhaba, Python sınıfı 304!"

In [ ]:
# karakteri değiştirme v yerine l yazacak.
a.replace("e","a")

In [ ]:
a.replace("a","e")

In [ ]:
a

In [ ]:
a.replace("yth","i")

In [ ]:
b= "hello world"

In [ ]:
#baş harfi büyük
b.capitalize()

In [ ]:
# Başlık haline getirdi
b.title()

In [ ]:
kabinraporu_m1="Uçağımızda yerde ve kalkış sonrası tuvalet lavabolarından ve boilerlardan su gelmemiştir.Yolcularımıza çay kahve ikram edilememiştir.Saygılarımla arz ederim."

In [ ]:
kabinraporu_m1

In [ ]:
kabinraporu_new=kabinraporu_m1.strip('.')

In [ ]:
print(kabinraporu_new)

In [ ]:
kabinraporu_m1.find("su")

In [ ]:
#str.startswith(prefix): Metnin belirtilen bir karakterle başlayıp başlamadığını kontrol eder.
print("hello".startswith("he"))

In [ ]:
#str.count(sub): Belirtilen alt string’in kaç kez geçtiğini sayar.
print(kabinraporu_m1.count("çay"))

In [ ]:
a=2

a= a + 3
a

In [ ]:
a=a+1
a

In [ ]:
a+=1

In [ ]:
a

#### Karakterler Değişkenlerde İndeksleme Kullanımı

Python’da indeksler, bir veri yapısındaki elemanlara erişmek için kullanılan konum numaralarıdır. İndeksler, sıralı veri yapılarında (örneğin, string, liste, tuple) elemanlara hızlıca erişim sağlar. Python’da indeksleme 0’dan başlar, yani ilk elemanın indeksi 0dır.

1. Pozitif İndeksleme: Elemanlara soldan sağa erişmek için kullanılır.  
2. Negatif İndeksleme: Elemanlara sağdan sola erişmek için kullanılır. En son elemanın indeksi -1dir.

In [ ]:
c= "TK105"

In [ ]:
#baştan giderken ilk harf 0 diye tanımlanmıştır. (ilk karakter)
c[0]

In [ ]:
c[2]

In [ ]:
#sondan gelince ilk karakter -1 olarak tanımlanmıştır.
c[-1]

In [ ]:
c[-2]

In [ ]:
# 1 . karakterden 5. karaktere kadar (1. dahil ama 5. dahil değil)
c[1:5]

In [ ]:
#sayı verilmezse otomatik olarak baş veya sonu alır. (0dan başlar)
c[:2]

In [ ]:
c[2:]

In [ ]:
c[:]

In [ ]:
Dil Dilimi (Slicing) ile İndeksleme
Bir veri yapısının belirli bir bölümünü almak için dilimleme (slicing) kullanılabilir. Slicing, başlangıç:bitiş formatında yazılır ve bitiş indeksi dahil edilmez.

In [ ]:
# String dilimleme
text = "Python Programlama"
print(text[0:6])  # 'Python' (0. indeksten 6. indekse kadar)
print(text[:6])   # 'Python' (baştan 6. indekse kadar)
print(text[7:])   # 'Programlama' (7. indeksten sona kadar)

In [ ]:
x=text[7:]

In [ ]:
x

#### Print Fonksiyonunun Kullanım Şekilleri

In [ ]:
a = "mehmet"
print(a)

In [ ]:
a=2
print("1 sorgu", a)

b=3
print("2 sorgu", b)

In [ ]:
a=2
print(3 + a)

In [ ]:
a

In [ ]:
a=2
print("yazdığın sayı: " + str(a))

In [ ]:
a = "yalçın"
print("hoşgeldin " + "sayın " + a)

In [ ]:
# sep fonksiyonu ile kelimelerin arasına istenilen ifade eklenebilir.(sep fonksiyonu virgül ile kullanılır.)
a = "mehmet"
print("hoşgeldin","sayın",a , sep="_" )

In [ ]:
a = "yalçın"
print("hoşgeldin_" + "sayın_" + a)

In [ ]:
# boşluk bırakmak için sep=" "
a = "mehmet"
print("hoşgeldin","sayın ",a , sep="  *  " )

In [ ]:
print("bana hoşgeldin ve 'iyi günler' dedi")

In [ ]:
#kaçış dizileri \
print("bana hoşgeldin ve \"iyi günler\" dedi")

In [ ]:
#paragraf yapan kaçış dizisi \n

print("bana hoşgeldin ve iyi \ngünler \ndedi")

In [ ]:
#tab yapan (boşluk bırakan) kaçış dizisi \t

print("bana hoşgeldin ve iyi \tgünler \tdedi")

In [ ]:
print("mehmet" + "2")

#### Değişkenlerden Kelime Bulutları

In [ ]:
!pip install wordcloud

In [ ]:
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
import matplotlib.pyplot as plt

In [ ]:
wordcloud = WordCloud(max_font_size=50, max_words=100, background_color="white").generate(kabinraporu_m1)
plt.figure()
plt.imshow(wordcloud, interpolation="bilinear")
plt.axis("off")
plt.show()

#### 3-Listeler (Lists) ve Demet (Tuple)

Python’da Liste (List) ve Tuple, veri koleksiyonlarını saklamak için kullanılan iki temel veri türüdür. İkisi de birden fazla veriyi sıralı bir şekilde tutabilir, ancak bazı önemli farkları vardır.

##### Liste (List):
Liste, değiştirilebilir (mutable) ve sıralı bir veri yapısıdır. Yani, listeye eleman ekleyebilir, çıkarabilir ve mevcut elemanları değiştirebilirsiniz.
Özellikleri:
1. Sıralıdır: Elemanların sırası önemlidir.
2. Değiştirilebilir: Elemanları ekleyebilir, çıkarabilir veya güncelleyebilirsiniz.
3. Farklı veri tiplerini saklayabilir: Bir liste, aynı anda sayıları, metinleri ve diğer veri tiplerini içerebilir.

In [ ]:
# Bir liste tanımlıyoruz
numbers = [10, 20, 30, 40, 50]

In [ ]:
type(numbers)

In [ ]:
print("Liste:", numbers)

In [ ]:
# Pozitif indeksleme
print(numbers[0])  # 10 (ilk eleman)
print(numbers[2])  # 30 (3. eleman)

In [ ]:
# Negatif indeksleme
print(numbers[-1])  # 50 (son eleman)
print(numbers[-2])  # 40 (sondan ikinci eleman)

In [ ]:
print("Listenin İlk Elemanı:", numbers[0])

In [ ]:
# Liste dilimleme
numbers = [10, 20, 30, 40, 50]
print(numbers[1:4])  # [20, 30, 40] (2., 3., ve 4. elemanlar)
print(numbers[:3])   # [10, 20, 30] (baştan 3. eleman)
print(numbers[-3:])  # [30, 40, 50] (son 3 eleman)

In [ ]:
#listelerin içindeki değerler değiştirilebilir

In [ ]:
numbers[1:3]

In [ ]:
list=["a",2,"b",3]

In [ ]:
list

In [ ]:
#listenin uzunluğu

len(numbers)

In [ ]:
notlar= [10,12,14,16]
notlar[3]

In [ ]:
notlar[-1]

In [ ]:
#tüm listesi getirecek
notlar, notlar[:]

In [ ]:
#listenin içindeki değeri değiştirme

notlar[0]= 100
print(notlar)

In [ ]:
notlar[0:3]

In [ ]:
# 0. 1. ve 2. değerler değişti
notlar[0:3]= [30,40,50]
notlar

In [ ]:
#listeye liste ekleme

list2= notlar + [8,9]
list2

In [ ]:
#append fonksiyonu ile değer eklenir

list2.append(200)
list2

In [ ]:
#extend fonksiyonu ile değerler eklenir

list2.extend([1,2,3])

In [ ]:
list2

In [ ]:
#listeyi kopyalama copy fonksiyonu ile yapılır

list3= list2.copy()

list3

In [ ]:
list2

In [ ]:
#remove fonksiyoun ile silme (ilk gördüğü istenen değeri siler)
list3.remove(30)

In [ ]:
list3

In [ ]:
list3

In [ ]:
list3.remove(200)
list3

In [ ]:
#sayma (30'dan kaç tane var)

list3.count(200)

In [ ]:
#listeyi ters düz etme reverse()
list3.reverse()
list3

In [ ]:
#listeyi küçükten büyüğe sıralama
list3.sort()
list3

##### Demet (Tuple):
Tuple, değiştirilemez (immutable) ve sıralı bir veri yapısıdır. Bir kez oluşturulduktan sonra, tuple’ın elemanları değiştirilemez.
Özellikleri:
1. Sıralıdır: Elemanların sırası önemlidir.
2. Değiştirilemez: Elemanları ekleyemez, çıkaramaz veya değiştiremezsiniz.
3. Farklı veri tiplerini saklayabilir: Aynı listelerde olduğu gibi, farklı veri tiplerini içerebilir.

In [ ]:
tuple1= (1,2,3)
tuple1

In [ ]:
tuple2= (1,2,3,"a")
tuple2

In [ ]:
tuple2[0]

#### 4-Sözlük (Dictionary)

Python’da dictionary (sözlük), anahtar-değer (key-value) çiftlerini saklayan bir veri yapısıdır. Dictionary, veri koleksiyonlarını hızlı bir şekilde düzenlemek ve üzerinde işlem yapmak için idealdir.
Sözlüklerin Temel Özellikleri
1. Anahtar-değer çiftlerinden oluşur:  
• Anahtar (Key): Benzersiz olmak zorundadır. Aynı anahtar birden fazla kez kullanılamaz.  
• Değer (Value): Herhangi bir veri tipi olabilir ve tekrarlanabilir.  
2. Değiştirilebilir (Mutable):  
• Eleman ekleyebilir, değiştirebilir veya silebilirsiniz.  
3. Sırasız (Unordered):  
• Python 3.6 ve sonrasında dictionary’ler sıralı gibi davranır (eklenme sırasını korur), ancak bu tamamen garanti edilmez.  
4. Hızlı erişim sağlar:  
• Anahtarlar aracılığıyla verilere hızlıca erişebilirsiniz.

In [ ]:
#dataframe işlemlerinde map fonksiyonuyla sıkça kullanılmaktadır.

In [ ]:
d= { "student_1": 90, "student_2": 75, "student_3":60 }

In [ ]:
d

In [ ]:
#student 2'nin değerine ulaşma
d["student_2"]

In [ ]:
#student 3'un değerine ulaşma
d["student_3"]

In [ ]:
type(d)

In [ ]:
#öğrencilerin 1. ve 2. notları eklenmiştir.
notlar= {"student_1": [90,62], "student_2": [85,75], "student_3":[60,58]}

In [ ]:
notlar

In [ ]:
notlar["student_1"]

In [ ]:
#student_1 nin 2.notu

notlar["student_1"][1]

In [ ]:
#student_1 nin 1.notu

notlar["student_1"][0]

In [ ]:
#student_2 in ilk notuna erişelim

In [ ]:
notlar["student_2"][0]

#### 5-Küme (Set)

Python’da set (küme), eşsiz (unique) elemanlardan oluşan, sırasız ve değiştirilebilir bir veri yapısıdır. Matematikteki kümeler gibi çalışır ve tekrarlayan değerleri otomatik olarak kaldırır. Bu özellik, veri kümeleriyle çalışırken oldukça kullanışlıdır.
Set’in Temel Özellikleri
1. Eşsiz Elemanlar: Set içinde aynı elemandan birden fazla bulunamaz.
• Örneğin, {1, 2, 2, 3} bir set olarak {1, 2, 3} haline gelir.
2. Sırasızdır: Elemanların sırası önemli değildir, bu nedenle indeksleme veya dilimleme yapılamaz.
3. Değiştirilebilir (Mutable): Set’e yeni elemanlar ekleyebilir veya çıkarabilirsiniz.
4. Karmaşık Veri Türlerini Saklayamaz: Set elemanları yalnızca değiştirilemez (immutable) veri tiplerinden oluşabilir. Örneğin, bir list set içinde bulunamaz, ancak bir tuple bulunabilir.
Set Oluşturma
Set, süslü parantez {} veya set() fonksiyonu ile oluşturulur.

In [ ]:
my_set={1, 2, 3, 4}

In [ ]:
my_set

In [ ]:
list1= [1,1,1,2,3,4]

In [ ]:
ss= set(list1)

In [ ]:
ss

In [ ]:
type(ss)

In [ ]:
#set'e ekleme yapmak için add fonks. kullanılır.
ss.add(5)
ss

In [ ]:
#eleman çıkarmak için remove fonks kullanılır.

ss.remove(5)
ss

In [ ]:
#set oluşturma
s1= set([10,20,30,30])
s1

In [ ]:
s2= set([20,30,30,40])
s2

In [ ]:
#s1 de olup s2 de olmayan
s1 - s2

In [ ]:
#s2 de olup s1 de olmayan
s2 - s1

In [ ]:
#kesişimleri

s1.intersection(s2)

### Boolean Operatörler

* Boolean bir karşılaştırmanın true veya false olduğunu kontrol eder.

- Karşılaştırma operatörleri :

      x == y               # x eşittir y
      x != y               # x eşit değildir y
      x > y                # x büyüktür y
      x < y                # x küçüktür y
      x >= y               # x büyük veya eşittir y
      x <= y               # x küçük veya eşittir y
      x is y               # x aynıdır y
      x is not y           # x aynı değildir y

In [ ]:
3 ==4

In [ ]:
3!=4

In [ ]:
4>=4

In [ ]:
3 is 4

In [ ]:
# tersini yapar not fonks.
not(3<4)

In [ ]:
"Ayşe" is "ayşe"

In [ ]:
"Ayşe" is "Ayşe"

### Mantıksal Operatörler

3 çeşit mantıksal operatör vardır: and, or, ve not.

 x < 0 and x > 10

x 0'dan küçükse ve 10'dan büyükse true döner


n%2 == 0 or n%3 == 0 koşullarından biri doğru ise true döner.

not (x > y) true döner, eğer x > y false ise. veya tam tersi durum söz konusudur.

In [ ]:
3<4 and 4<5

In [ ]:
3<4 and 4>5

In [ ]:
3<4 or 4>5

In [ ]:
n= 8
n%2 == 0 or n%3 == 0

In [ ]:
n= 8
n%2 == 0 and n%3 == 0

In [ ]:
x=5
y=8

x<y

In [ ]:
not(x<y)

### IF - ELSE yapıları

Koşullu ifadeler için if- else kullanılır.

In [ ]:
gelir=10
gider=20

In [ ]:
if gelir>gider:
    print("kar")
else:
    print("zarar")

In [ ]:
if gelir>gider:
    print("kar")

elif gelir==gider:
    print("ne kar ne zarar")

else:
    print("zarar")

In [ ]:
gelir= int(input("lütfen gelirinizi giriniz: "))
gider= int(input("lütfen giderinizi giriniz: "))

if gelir>gider:
    print("kar")

elif gelir==gider:
    print("ne kar ne zarar")

else:
    print("zarar")

In [ ]:
#yaş 18den küçük "mekana giremezsin, go home" eğer 18den büyük ve eşitse "buyrunuz"

yas= int(input("lütfen yaşınızı giriniz: "))
if yas>=18:
    print("buyrunuz")
else:
    print("mekana giremezsin, go home")

In [ ]:
#negatif değer için tekrar yaş isteyerek if kurduk.
yas= int(input("lütfen yaşınızı giriniz: "))

if yas<0:
    yas= int(input("lütfen yaşınızı giriniz: "))
if yas>=18:
    print("buyrunuz")
else:
    print("mekana giremezsin, go home")

In [ ]:
# girilen şifrenin mehmet olması durumunda bravo yazsın, değilse tekrar denesin

password= str(input("şifreyi giriniz: "))

if password== "mehmet":
    print("bravo")
else:
    print("lütfen tekrar deneyiniz")

In [ ]:
isim= str(input("şifreyi giriniz: "))

## NUMPY

#NumPy, Python programlama dili için büyük, çok boyutlu dizileri ve matrisleri destekleyen, bu diziler üzerinde çalışacak üst düzey matematiksel işlevler ekleyen bir kitaplıktır. (wikipedia)

#https://numpy.org/

Ek Kaynaklar:

https://cs231n.github.io/python-numpy-tutorial/

https://www.kaggle.com/getting-started/115421

### Kütüphane Çağırma:

##### Not: Kütüphane yüklü değilse !pip install numpy komutu ile bilgisayara indirilmelidir.

In [ ]:
!pip install numpy

In [ ]:
import numpy as np

Numpy ile array yaratmak:
#np.array(), np.zeros(), np.ones(), np.empty(), np.arange(), np.linspace()

In [ ]:
# One dimensional NumPy array
a=np.array([1, 2, 3, 4])
print(a)

In [ ]:
# Array of zeros
a_zeros=np.zeros(3)
print(a_zeros)

In [ ]:
# Array of 1s
a_ones=np.ones(3)
print(a_ones)

In [ ]:
aa = np.ones(2, dtype=np.int64)
print(aa)

In [ ]:
#And even an array that contains a range of evenly spaced intervals.
#To do this, you will specify the first number, last number, and the step size.
np.arange(4)

In [ ]:
np.arange(2, 9, 2)

In [ ]:
# Create linearly spaced array
np.linspace(0, 10, 5 )

In [ ]:
# Create 2-dimensional array
np.array([[1,2,3],
          [4,5,6],
          [7,8,9]])

In [ ]:
print(a[1])

In [ ]:
# # Sort in ascending order
sorted_array =np.sort(a)
sorted_array

In [ ]:
# Reverse the sorted array
reverse_array = sorted_array [::-1]
reverse_array

In [ ]:
x= np.array([1, 2, 3, 4])
y= np.array([5, 6, 7, 8])

In [ ]:
#Array combination
np.concatenate((x, y))

In [ ]:
# 5. NumPy ile İstatistiksel İşlemler
ortalama = x.mean()
toplam = x.sum()

In [ ]:
print("Ortalama:", ortalama)

In [ ]:
print("Toplam:", toplam)

<img src="https://github.com/nevcihan/COE_Python/blob/main/Session2_Python_Main/pict2.png?raw=1" width="500"/>

## PANDAS

It’s simple to use Pandas in order to export your array as well.
If you are new to NumPy, you may want to create a Pandas dataframe from the values in your array and
then write the data frame to a CSV file with Pandas.

#https://pandas.pydata.org/docs/user_guide/index.html
#https://pandas.pydata.org/docs/user_guide/cookbook.html#cookbook

#### Kütüphane Çağırma:
##### Not: Kütüphane yüklü değilse !pip install pandas komutu ile bilgisayara indirilmelidir.

In [ ]:
#!pip install pandas

In [ ]:
import pandas as pd

In [ ]:
#SERIES

In [ ]:
series_sample=pd.Series([4, 5, -16, 3])
series_sample

In [ ]:
series_sample=pd.Series([4, 5, -16, 3], index=['x', 'y', 'z', 'w'])

In [ ]:
series_sample

In [ ]:
series_sample['z']

## DATAFRAME

NOT:

df[x] — index a column using variable x. Returns pd.Series

df[[x]] — index/slice a single-column DataFrame using variable x. Returns pd.DataFrame

df['x'] — index a column named 'x'. Returns pd.Series

df[['x']] — index/slice a single-column DataFrame having only one column named 'x'. Returns pd.DataFrame

df.x — dot accessor notation, equivalent to df['x'] (there are, however, limitations on what x can be named if dot notation is to be successfully used). Returns pd.Series

With single brackets [...] you may only index a single column out as a Series. With double brackets, [[...]], you may select as many columns as you need, and these columns are returned as part of a new DataFrame.

Kaynak: https://stackoverflow.com/questions/50302180/difference-between-dfx-dfx-dfx-dfx-and-df-x

In [ ]:
import numpy as np

In [ ]:
# 1'den 13'e kadar olan sayılar ile 3x4 lük bir array oluşturma
m=np.arange(1,13).reshape(3,4)
m

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [ ]:
pd.DataFrame(m,columns=["a","b","c","d"])

   a   b   c   d
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [ ]:
dataset_manuel = {'Country': ['Belgium',  'India',  'Brazil'],

'Capital': ['Brussels',  'New Delhi',  'Brasilia'],

'Population': [11190846, 1303171035, 207847528]}

In [ ]:
dataset_manuel

{'Country': ['Belgium', 'India', 'Brazil'],
 'Capital': ['Brussels', 'New Delhi', 'Brasilia'],
 'Population': [11190846, 1303171035, 207847528]}

In [ ]:
df_manuel = pd.DataFrame(dataset_manuel,columns=['Country',  'Capital',  'Population'])

In [ ]:
df_manuel

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [ ]:
# Bazı Hızlı Pandas Fonksiyonları:

In [ ]:
df_manuel['Population'].median()

In [ ]:
df_manuel['Population'].sum()

In [ ]:
df_manuel['Population'].mean()

In [ ]:
df_manuel['Population'].min()

### pandas ile birçok veri kaynağıdan farklı metotlarla veri almak münkündür:
    - pd.read_excel
    - pd.read_csv
    - pd.read_sql

## Veri seti ile çalışma

@allison_horst https://github.com/allisonhorst/penguins

<td><img src="https://github.com/nevcihan/COE_Python/blob/main/pict5.png?raw=1" width="250"/><td>

<table><tr>
    
<td><img src="https://github.com/nevcihan/COE_Python/blob/main/pict4.png?raw=1" width="250"/><td>
    
<td><img src="https://github.com/nevcihan/COE_Python/blob/main/pict3.png?raw=1" width="250"/><td>
    
</tr></table>

In [ ]:
# csv uzantılı verisetini pandas ile okuma:
penguins_features = pd.read_csv("penguins_features.csv")
penguins_features.head()

,Species,Stage,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,sample_id
0,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,39.1,18.7,181.0,3750.0,MALE,1
1,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,39.5,17.4,186.0,3800.0,FEMALE,2
2,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,40.3,18.0,195.0,3250.0,FEMALE,3
3,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,NaN,NaN,NaN,NaN,NaN,4
4,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,36.7,19.3,193.0,3450.0,FEMALE,5

In [ ]:
#dataset.drop('Index', inplace=True, axis=1)

In [ ]:
# Verisetinin Boyutu:
#Yöntem-1:

In [ ]:
penguins_features.shape

(344, 9)

In [ ]:
num_rows = penguins_features.shape[0]
num_rows

344

In [ ]:
num_columns = penguins_features.shape[1]
num_columns

9

In [ ]:
#Yöntem-2:

In [ ]:
penguins_features.shape

(344, 9)

In [ ]:
# Verisetindeki Değişken Türleri:

In [ ]:
#Yöntem-1:

In [ ]:
penguins_features.dtypes

Species                 object
Stage                   object
Clutch Completion       object
Culmen Length (mm)     float64
Culmen Depth (mm)      float64
Flipper Length (mm)    float64
Body Mass (g)          float64
Sex                     object
sample_id                int64
dtype: object

In [ ]:
#Yöntem-2:

In [ ]:
penguins_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Species              344 non-null    object
 1   Stage                344 non-null    object
 2   Clutch Completion    344 non-null    object
 3   Culmen Length (mm)   342 non-null    float64
 4   Culmen Depth (mm)    342 non-null    float64
 5   Flipper Length (mm)  342 non-null    float64
 6   Body Mass (g)        342 non-null    float64
 7   Sex                  334 non-null    object
 8   sample_id            344 non-null    int64
dtypes: float64(4), int64(1), object(4)
memory usage: 24.3+ KB

In [ ]:
# Temel Veriseti Gösterimleri:

In [ ]:
penguins_features.head()

,Species,Stage,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,sample_id
0,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,39.1,18.7,181.0,3750.0,MALE,1
1,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,39.5,17.4,186.0,3800.0,FEMALE,2
2,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,40.3,18.0,195.0,3250.0,FEMALE,3
3,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,NaN,NaN,NaN,NaN,NaN,4
4,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,36.7,19.3,193.0,3450.0,FEMALE,5

In [ ]:
penguins_features.head(3)

,Species,Stage,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,sample_id
0,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,39.1,18.7,181.0,3750.0,MALE,1
1,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,39.5,17.4,186.0,3800.0,FEMALE,2
2,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,40.3,18.0,195.0,3250.0,FEMALE,3

In [ ]:
penguins_features.tail(3)

,Species,Stage,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,sample_id
341,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,50.4,15.7,222.0,5750.0,MALE,342
342,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,45.2,14.8,212.0,5200.0,FEMALE,343
343,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,49.9,16.1,213.0,5400.0,MALE,344

In [ ]:
penguins_location = pd.read_csv("penguins_location.csv")

In [ ]:
penguins_location.shape

(344, 3)

In [ ]:
penguins_location.dtypes

Region       object
Island       object
sample_id     int64
dtype: object

In [ ]:
penguins_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Region     344 non-null    object
 1   Island     344 non-null    object
 2   sample_id  344 non-null    int64
dtypes: int64(1), object(2)
memory usage: 8.2+ KB

In [ ]:
penguins_location.head()

   Region     Island  sample_id
0  Anvers  Torgersen          1
1  Anvers  Torgersen          2
2  Anvers  Torgersen          3
3  Anvers  Torgersen          4
4  Anvers  Torgersen          5

In [ ]:
penguins_location.tail()

     Region  Island  sample_id
339  Anvers  Biscoe        340
340  Anvers  Biscoe        341
341  Anvers  Biscoe        342
342  Anvers  Biscoe        343
343  Anvers  Biscoe        344

### Verisetlerini Birleştirme

In [ ]:
#adding index to the manuel inserted row
new_row2 = pd.Series(data={'Country':'Spain', 'Capital':'Madrid', 'Population':46800000}) #, name='x'
new_row2 = pd.DataFrame([new_row2])
new_row2

  Country Capital  Population
0   Spain  Madrid    46800000

In [ ]:
pd.concat([df_manuel, new_row2],axis=0,ignore_index=True)

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528
3    Spain     Madrid    46800000

In [ ]:
#adding manuel new row to dataframe
df_manuel = pd.concat([df_manuel, new_row2], axis=0, ignore_index=True)

In [ ]:
df_manuel

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528
3    Spain     Madrid    46800000

In [ ]:
penguins_features.head(1)

,Species,Stage,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,sample_id
0,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,39.1,18.7,181.0,3750.0,MALE,1

In [ ]:
penguins_location.head(1)

   Region     Island  sample_id
0  Anvers  Torgersen          1

In [ ]:
penguin_dataset_final = pd.merge(penguins_features, penguins_location, on='sample_id')
penguin_dataset_final.head()

,Species,Stage,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,sample_id,Region,Island
0,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,39.1,18.7,181.0,3750.0,MALE,1,Anvers,Torgersen
1,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,39.5,17.4,186.0,3800.0,FEMALE,2,Anvers,Torgersen
2,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,40.3,18.0,195.0,3250.0,FEMALE,3,Anvers,Torgersen
3,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,NaN,NaN,NaN,NaN,NaN,4,Anvers,Torgersen
4,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,36.7,19.3,193.0,3450.0,FEMALE,5,Anvers,Torgersen

In [ ]:
list(penguins_features)

['Species',
 'Stage',
 'Clutch Completion',
 'Culmen Length (mm)',
 'Culmen Depth (mm)',
 'Flipper Length (mm)',
 'Body Mass (g)',
 'Sex',
 'sample_id']

In [ ]:
list(penguin_dataset_final)

['Species',
 'Stage',
 'Clutch Completion',
 'Culmen Length (mm)',
 'Culmen Depth (mm)',
 'Flipper Length (mm)',
 'Body Mass (g)',
 'Sex',
 'sample_id',
 'Region',
 'Island']

In [ ]:
# copy dataset

In [ ]:
#penguin_dataset = penguin_dataset_final.copy()

In [ ]:
penguin_dataset1 = penguin_dataset_final.copy()

### Veri Seti Genel Düzenleme:

In [ ]:
newcol_names={'Clutch Completion':'Clutch_comp',
             'Culmen Length (mm)': 'Culmen_lenght_mm',
             'Culmen Depth (mm)': 'Culmen_depth_mm',
             'Flipper Length (mm)': 'Flipper_length_mm',
             'Body Mass (g)': 'Body_mass_g'}

In [ ]:
penguin_dataset= penguin_dataset1.rename(columns=newcol_names)

In [ ]:
#penguin_dataset= penguin_dataset1.rename(columns={'Clutch Completion':'Clutch_comp'})

In [ ]:
#Alternatif olarak ->>> columns = {'body_mass_g':'weight', ...}

In [ ]:
penguin_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 344 entries, 0 to 343
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Species            344 non-null    object
 1   Stage              344 non-null    object
 2   Clutch_comp        344 non-null    object
 3   Culmen_lenght_mm   342 non-null    float64
 4   Culmen_depth_mm    342 non-null    float64
 5   Flipper_length_mm  342 non-null    float64
 6   Body_mass_g        342 non-null    float64
 7   Sex                334 non-null    object
 8   sample_id          344 non-null    int64
 9   Region             344 non-null    object
 10  Island             344 non-null    object
dtypes: float64(4), int64(1), object(6)
memory usage: 32.2+ KB

In [ ]:
penguin_dataset['Species']

0      Adelie Penguin (Pygoscelis adeliae)
1      Adelie Penguin (Pygoscelis adeliae)
2      Adelie Penguin (Pygoscelis adeliae)
3      Adelie Penguin (Pygoscelis adeliae)
4      Adelie Penguin (Pygoscelis adeliae)
                      ...
339      Gentoo penguin (Pygoscelis papua)
340      Gentoo penguin (Pygoscelis papua)
341      Gentoo penguin (Pygoscelis papua)
342      Gentoo penguin (Pygoscelis papua)
343      Gentoo penguin (Pygoscelis papua)
Name: Species, Length: 344, dtype: object

### Kayıp Veri (missing values) ile Uğraşma:

In [ ]:
penguin_dataset.isnull().sum()

Species               0
Stage                 0
Clutch_comp           0
Culmen_lenght_mm      2
Culmen_depth_mm       2
Flipper_length_mm     2
Body_mass_g           2
Sex                  10
sample_id             0
Region                0
Island                0
dtype: int64

In [ ]:
sum(penguin_dataset['Species'].isnull())

0

In [ ]:
sum(penguin_dataset['Sex'].isnull())

10

In [ ]:
#Missing Alternatif-1:

penguin_dataset2 = penguin_dataset.dropna()
penguin_dataset2.count()

Species              334
Stage                334
Clutch_comp          334
Culmen_lenght_mm     334
Culmen_depth_mm      334
Flipper_length_mm    334
Body_mass_g          334
Sex                  334
sample_id            334
Region               334
Island               334
dtype: int64

In [ ]:
penguin_dataset.info()

#Cinsiyet'te Hala boş değerler var. Ne yapacağımıza karar verelim?
- Tamamen satır silebiliriz.
- Mod/Median/Mean/ bir sayısal değer vb. ile doldurabiliriz.
- Kategorik olduğu için tahminleme yapabiliriz.

In [ ]:
# Veri Filtreleme İşlemlerine örnek:

In [ ]:
# Fazla değişkenleri Silme:

In [ ]:
penguin_dataset_new=penguin_dataset2.drop(['Culmen_lenght_mm','Body_mass_g'], axis = 1)

In [ ]:
penguin_dataset_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 334 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Species            334 non-null    object
 1   Stage              334 non-null    object
 2   Clutch_comp        334 non-null    object
 3   Culmen_depth_mm    334 non-null    float64
 4   Flipper_length_mm  334 non-null    float64
 5   Sex                334 non-null    object
 6   sample_id          334 non-null    int64
 7   Region             334 non-null    object
 8   Island             334 non-null    object
dtypes: float64(2), int64(1), object(6)
memory usage: 26.1+ KB

In [ ]:
Clutch_Comp_deneme= penguin_dataset_new[["Clutch_comp"]]
Clutch_Comp_deneme.head()

  Clutch_comp
0         Yes
1         Yes
2         Yes
4         Yes
5         Yes

In [ ]:
penguin_dataset1.iloc[0]

Species                Adelie Penguin (Pygoscelis adeliae)
Stage                                   Adult, 1 Egg Stage
Clutch Completion                                      Yes
Culmen Length (mm)                                    39.1
Culmen Depth (mm)                                     18.7
Flipper Length (mm)                                  181.0
Body Mass (g)                                       3750.0
Sex                                                   MALE
sample_id                                                1
Region                                              Anvers
Island                                           Torgersen
Name: 0, dtype: object

In [ ]:
penguin_dataset1.iloc[0:8]

,Species,Stage,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,sample_id,Region,Island
0,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,39.1,18.7,181.0,3750.0,MALE,1,Anvers,Torgersen
1,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,39.5,17.4,186.0,3800.0,FEMALE,2,Anvers,Torgersen
2,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,40.3,18.0,195.0,3250.0,FEMALE,3,Anvers,Torgersen
3,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,NaN,NaN,NaN,NaN,NaN,4,Anvers,Torgersen
4,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,36.7,19.3,193.0,3450.0,FEMALE,5,Anvers,Torgersen
5,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,39.3,20.6,190.0,3650.0,MALE,6,Anvers,Torgersen
6,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",No,38.9,17.8,181.0,3625.0,FEMALE,7,Anvers,Torgersen
7,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",No,39.2,19.6,195.0,4675.0,MALE,8,Anvers,Torgersen

In [ ]:
penguin_dataset1.iloc[0:8,0:3]

                               Species               Stage Clutch Completion
0  Adelie Penguin (Pygoscelis adeliae)  Adult, 1 Egg Stage               Yes
1  Adelie Penguin (Pygoscelis adeliae)  Adult, 1 Egg Stage               Yes
2  Adelie Penguin (Pygoscelis adeliae)  Adult, 1 Egg Stage               Yes
3  Adelie Penguin (Pygoscelis adeliae)  Adult, 1 Egg Stage               Yes
4  Adelie Penguin (Pygoscelis adeliae)  Adult, 1 Egg Stage               Yes
5  Adelie Penguin (Pygoscelis adeliae)  Adult, 1 Egg Stage               Yes
6  Adelie Penguin (Pygoscelis adeliae)  Adult, 1 Egg Stage                No
7  Adelie Penguin (Pygoscelis adeliae)  Adult, 1 Egg Stage                No

In [ ]:
penguin_dataset1.loc[:8, ['Island']]

      Island
0  Torgersen
1  Torgersen
2  Torgersen
3  Torgersen
4  Torgersen
5  Torgersen
6  Torgersen
7  Torgersen
8  Torgersen

In [ ]:
penguin_dataset1.loc[:][["Island"]]

        Island
0    Torgersen
1    Torgersen
2    Torgersen
3    Torgersen
4    Torgersen
..         ...
339     Biscoe
340     Biscoe
341     Biscoe
342     Biscoe
343     Biscoe

[344 rows x 1 columns]

In [ ]:
penguin_dataset1.loc[:, ['Region', 'Island']]

     Region     Island
0    Anvers  Torgersen
1    Anvers  Torgersen
2    Anvers  Torgersen
3    Anvers  Torgersen
4    Anvers  Torgersen
..      ...        ...
339  Anvers     Biscoe
340  Anvers     Biscoe
341  Anvers     Biscoe
342  Anvers     Biscoe
343  Anvers     Biscoe

[344 rows x 2 columns]

In [ ]:
penguin_dataset1.loc[0:4, ['Region', 'Island']]

   Region     Island
0  Anvers  Torgersen
1  Anvers  Torgersen
2  Anvers  Torgersen
3  Anvers  Torgersen
4  Anvers  Torgersen

In [ ]:
penguin_dataset1.loc[penguin_dataset1['Culmen Depth (mm)'] > 20][["Culmen Length (mm)"]]

     Culmen Length (mm)
5                  39.3
9                  42.0
13                 38.6
14                 34.6
17                 42.5
19                 46.0
35                 39.2
49                 42.3
61                 41.3
85                 41.3
111                45.6
114                39.6
117                37.3
137                40.2
163                51.7
183                54.2
189                52.0

In [ ]:
penguin_dataset1.loc[penguin_dataset1['Island'] == 'Biscoe']

,Species,Stage,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,sample_id,Region,Island
20,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,37.8,18.3,174.0,3400.0,FEMALE,21,Anvers,Biscoe
21,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,37.7,18.7,180.0,3600.0,MALE,22,Anvers,Biscoe
22,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,35.9,19.2,189.0,3800.0,FEMALE,23,Anvers,Biscoe
23,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,38.2,18.1,185.0,3950.0,MALE,24,Anvers,Biscoe
24,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,38.8,17.2,180.0,3800.0,MALE,25,Anvers,Biscoe
...,...,...,...,...,...,...,...,...,...,...,...
339,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",No,NaN,NaN,NaN,NaN,NaN,340,Anvers,Biscoe
340,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,46.8,14.3,215.0,4850.0,FEMALE,341,Anvers,Biscoe
341,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,50.4,15.7,222.0,5750.0,MALE,342,Anvers,Biscoe
342,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,45.2,14.8,212.0,5200.0,FEMALE,343,Anvers,Biscoe
343,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,49.9,16.1,213.0,5400.0,MALE,344,Anvers,Biscoe

In [ ]:
penguin_dataset[penguin_dataset['Culmen_lenght_mm'] == 38.8]

,Species,Stage,Clutch_comp,Culmen_lenght_mm,Culmen_depth_mm,Flipper_length_mm,Body_mass_g,Sex,sample_id,Region,Island
24,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,38.8,17.2,180.0,3800.0,MALE,25,Anvers,Biscoe
36,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,38.8,20.0,190.0,3950.0,MALE,37,Anvers,Dream
126,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,38.8,17.6,191.0,3275.0,FEMALE,127,Anvers,Torgersen

In [ ]:
# Veri Sıralama:

In [ ]:
sorted_mass1 = penguin_dataset['Culmen_lenght_mm'].sort_values().reset_index(drop=True)

sorted_mass1.head(10)

0    32.1
1    33.1
2    33.5
3    34.0
4    34.1
5    34.4
6    34.5
7    34.6
8    34.6
9    35.0
Name: Culmen_lenght_mm, dtype: float64

In [ ]:
sorted_mass2 = penguin_dataset.sort_values('Body_mass_g')

sorted_mass2.tail()

,Species,Stage,Clutch_comp,Culmen_lenght_mm,Culmen_depth_mm,Flipper_length_mm,Body_mass_g,Sex,sample_id,Region,Island
337,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,48.8,16.2,222.0,6000.0,MALE,338,Anvers,Biscoe
253,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,59.6,17.0,230.0,6050.0,MALE,254,Anvers,Biscoe
237,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",Yes,49.2,15.2,221.0,6300.0,MALE,238,Anvers,Biscoe
3,Adelie Penguin (Pygoscelis adeliae),"Adult, 1 Egg Stage",Yes,NaN,NaN,NaN,NaN,NaN,4,Anvers,Torgersen
339,Gentoo penguin (Pygoscelis papua),"Adult, 1 Egg Stage",No,NaN,NaN,NaN,NaN,NaN,340,Anvers,Biscoe

### Veri Gruplama:

In [ ]:
penguin_dataset.groupby("Species").mean()

,Culmen_lenght_mm,Culmen_depth_mm,Flipper_length_mm,Body_mass_g,sample_id
Species,,,,,
Adelie Penguin (Pygoscelis adeliae),38.791391,18.346358,189.953642,3700.662252,76.5
Chinstrap penguin (Pygoscelis antarctica),48.833824,18.420588,195.823529,3733.088235,186.5
Gentoo penguin (Pygoscelis papua),47.504878,14.982114,217.186992,5076.016260,282.5

In [ ]:
penguin_dataset.groupby("Species")["Body_mass_g"].mean()

Species
Adelie Penguin (Pygoscelis adeliae)          3700.662252
Chinstrap penguin (Pygoscelis antarctica)    3733.088235
Gentoo penguin (Pygoscelis papua)            5076.016260
Name: Body_mass_g, dtype: float64

In [ ]:
penguin_dataset.groupby('Species',as_index=False)['Body_mass_g'].mean()

                                     Species  Body_mass_g
0        Adelie Penguin (Pygoscelis adeliae)  3700.662252
1  Chinstrap penguin (Pygoscelis antarctica)  3733.088235
2          Gentoo penguin (Pygoscelis papua)  5076.016260

In [ ]:
Species_group = penguin_dataset.groupby('Species', as_index=False).count()
Species_group

In [ ]:
Species_group=penguin_dataset.groupby(['Species'])['Species'].count().reset_index(name='count')
#pd.set_option('display.max_rows', 100)
Species_group

In [ ]:
multi_group= penguin_dataset.groupby(['Species', 'Island'])['Species'].count().reset_index(name='count')
multi_group

In [ ]:
# verisetinin detaylarını inceleme:

In [ ]:
penguin_dataset['Culmen_lenght_mm'].min()

In [ ]:
min_culmen_length = penguin_dataset['Culmen_lenght_mm'].min()

min_culmen_length

In [ ]:
max_culmen_length  = penguin_dataset['Culmen_lenght_mm'].max()

max_culmen_length

In [ ]:
range_of_culmen_length  = max_culmen_length - min_culmen_length

range_of_culmen_length

In [ ]:
q1_culmen_length = penguin_dataset['Culmen_lenght_mm'].quantile(.25)

q1_culmen_length

In [ ]:
q3_culmen_length = penguin_dataset['Culmen_lenght_mm'].quantile(.75)

q3_culmen_length

In [ ]:
Culmen_lenght_mean = penguin_dataset['Culmen_lenght_mm'].mean()

Culmen_lenght_mean

In [ ]:
Culmen_lenght_median = penguin_dataset['Culmen_lenght_mm'].median()

Culmen_lenght_median

In [ ]:
#Summary Statistics

In [ ]:
penguin_dataset.describe()

### Değişken İçeriği Değiştirme:

In [ ]:
penguin_dataset['Clutch_comp']=penguin_dataset['Clutch_comp'].str.replace('Yes', 'Y')

In [ ]:
penguin_dataset['Clutch_comp']=penguin_dataset['Clutch_comp'].str.replace('No', 'N')

In [ ]:
Clutch_comp_group=penguin_dataset.groupby(['Clutch_comp'])['Clutch_comp'].count().reset_index(name='count')
Clutch_comp_group

In [ ]:
penguin_dataset['Sex'] = penguin_dataset['Sex'].map({'MALE': 0, 'FEMALE': 1})
penguin_dataset.head(15)

In [ ]:
penguin_dataset.info()

### Değişken Türü Değiştirme

In [ ]:
penguin_dataset['Sex'] = penguin_dataset.Sex.astype('str')

In [ ]:
penguin_dataset['Sex'].dtypes

In [ ]:
penguin_dataset.info()

### yeni değişken oluşturma

In [ ]:
# Body index for Penguines (Hayali)

In [ ]:
penguin_dataset['body_index'] = (((penguin_dataset['Culmen_lenght_mm_v1']*penguin_dataset['Culmen_depth_mm_v1'])*penguin_dataset['Flipper_length_mm_v1'])
                                  /penguin_dataset['Body_mass_g_v1']).astype(int)

penguin_dataset.sample(5)

### applying function

In [ ]:
penguin_dataset['health']=penguin_dataset['body_index'].apply(lambda x: 'Healthy' if x>30 else 'Need_care')

In [ ]:
penguin_dataset

In [ ]:
health_group=penguin_dataset.groupby(['health'])['health'].count().reset_index(name='count')
health_group

In [ ]:
# PANDAS + NUMPY Birlikte Kullanımı ile Veri Düzenleme:

In [ ]:
penguin_dataset['Overweight_flag'] = np.where((penguin_dataset['Body_mass_g_v1'])>450, 1, 0)

In [ ]:
#Alternatif: penguin_dataset['Overweight_flag']  = [1 if x> 450 else 0 for x in penguin_dataset.Body_mass_g_v1]

In [ ]:
penguin_dataset.info()

In [ ]:
penguin_dataset.head(3)

## Farklı Veri kaynaklarını çağırma

pandas ile birçok veri kaynağına farklı metotlarla veri yazmak münkündür:
    - pd.read_excel
    - pd.read_csv
    - pd.read_sql

In [ ]:
penguin_dataset.to_csv('penguins_preprocessed.csv', sep=',', index=False)

In [ ]:
help(pd.Series.loc)

In [ ]:
penguin_dataset.memory_usage()

In [ ]:
#Önemli not, veriyi doğrudan çalıştırma, çok büyükse çalışman zarar görebilir !!!
#penguin_dataset

## Tarihsel İşlemler

In [ ]:
#Başımıza bela olan tarih formatlarını inceleyelim:

In [ ]:
print(pd.Timestamp.now())
print(pd.Timestamp.now().date())
print(pd.Timestamp.now().year)
print(pd.Timestamp.now().month)
print(pd.Timestamp.now().day)
print(pd.Timestamp.now().hour)
print(pd.Timestamp.now().minute)
print(pd.Timestamp.now().second)
print(pd.Timestamp.now().microsecond)

In [ ]:
# Import date
from datetime import datetime

In [ ]:
# generate datetime data

df = pd.DataFrame({
    'name': ['alice','bob','charlie', 'david', 'mark', 'Judy'],
    'date_of_birth': ['10/15/1980','10/29/1988','09/18/1993', '01/11/1990', '07/06/1982', '03/06/1998']
})

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df['date_of_birth'] = pd.to_datetime(df['date_of_birth'],  format='%m/%d/%Y')

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df["todaydatetime"] = pd.Timestamp.now()

In [ ]:
df

In [ ]:
df['year_of_birth'] = df['date_of_birth'].map(lambda x: x.strftime('%Y'))

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df["hour"] = df["todaydatetime"].dt.hour

In [ ]:
df

In [ ]:
df["todayyear"] = pd.Timestamp.now().year

In [ ]:
df['year_of_birth']=df['year_of_birth'].astype(str).astype(int)
df['year_todaydatetime']=df['todayyear'].astype(str).astype(int)

In [ ]:
df.info()

In [ ]:
df['age'] = (df["year_todaydatetime"] - df['year_of_birth'])

In [ ]:
df